*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: "Poppins","Saira Stencil One", sans-serif;
    font-size: 20px;
    border-bottom: 2px solid black;
    position: fixed;
    max-height: 90px;
    /* background-color: #ddaa00; */
}

body{

}

a{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
    font-family: "Saira Stencil One", sans-serif;
    width: 15%;
}

.logo a{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 100px;
}

.logo img{
    max-width: 70px;
    margin: 5px;
}

.empty-space{
    width: 20px;
}

footer{
    height: 70px;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-evenly;    
    /* background-color: #ddaa00; */
    align-items: center;
}

.social-media-links{
    margin-top: 5px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media-links a :hover{
    transform: translateY(-5px);
}

.space{
    height: 750px;
}

.ownership{
    font-size: 0.9rem;
    font-family: sans-serif;
    font-weight: 550;
}